body{
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.9);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: blue;
}

#logo{
    color:white;
    background:blue;
    padding:2px 6px;
    border-radius:4px;
}


.header-right {
    display: flex;
    gap: 15px;
    align-items: center;
    }

.call-btn {
    background: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.login-btn,
.logout-btn{
    border: 2px solid blue;
    color: blue;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.backgroundImage{

    height: 350px;
    width: 100%;
}

a{
    text-decoration: none;
}

.steps{
    text-align: center;
    padding: 30px 10px;
    background: #f2f2f2;
}

.steps h2{
    font-size: 28px;
    margin-bottom: 40px;
}

.steps .highlight{
    color: blue;
    font-weight: bold;
}

.stepContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.step{
    background: #e2e3ed;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 250px;
    position: relative;
    text-align: left;
    transition: 0.3s;
}

.icon i{
    font-size: 30px;
    color: blue;
}

.step h3{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(33, 150, 243);
}

.step p{
    color: #555;
    font-size:15px;
    line-height: 1.5;
}

.stepNumber{
    position: absolute;
    top:0;
    right: 0;
    background: #f5c4c4;
    color: blue;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 12px;
}
    /* Search Section */
.search-box {
    max-width: 1000px;
    margin: 20px auto;
    background: rgb(120, 121, 218);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    }

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }

.tabs button {
    flex: 1;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: #f2f2f2;
    }

.tabs button.active {
    background: red;
    color: white;
    font-weight: bold;
}

.select-type{
    font-size: 18px;
    font-weight: bold;
    margin-bottom:20px;
}

.form-input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-row input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.error{
    display: block;
    color: rgb(140, 43, 43); 
    font-size: 0.8em;
    margin-top: 4px;
}

.search-btn {
    background: rgb(249, 249, 249);
    color: rgb(120, 121, 218);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

.trending {
    margin-top: 15px;
    font-size: 14px;
    color: #444;
    }

.trending span {
    display: inline-block;
    margin: 5px;
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

footer{
    background: #f2f2f2;
    color: #27272b;
    padding: 40px 60px 20px;
    margin-top: 60px;
}

.footerContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 80px;
}

.footerSection h2, h3{
    color:#60606b;
    margin-bottom: 15px;
}

.footerSection p, .footerSection a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 5px 0;

}

.footerSection a:hover{
    color: blue;
}

.footerBottom{
    text-align: center;
    border-top: 1px solid #444;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
}

.designer{
    font-weight:bold;
    color: rgb(92, 115, 225);
}